<h1>Post a Thread</h1>

<form action="/thread" id="thread" method="post">
  Title: <input type="text" name="title">
  <p>Content:</p>
  <textarea name="content" form="thread" rows="10" cols="40">Write your content here...</textarea>
  <input type="submit">
</form>
